body{
    margin: 0;
}

.sidebar {
    position: fixed;
    width: 250px; 
    top: 0;
    left: 0; 
    bottom: 0; 
    background: rgba(41, 162, 170, 0.796);
    padding-top: 20%;
    text-align: center;
}

.sidebar a {
    display: block;
    padding: 10px 20px;
    color: white;
    letter-spacing: 2px;
    font-family: 'Rubik', sans-serif;
    font-size: 19px;
}

.sidebar a::first-letter {
    font-size: 105%;
}