body{
    margin: 0;
}

.container-fluid {
    width: 75%;
    position: relative;
    margin-left: 270px;
}


/* Navbar styling  */
.sidebar {
    float: left;
    position: fixed;
    width: 250px; 
    height: 100% !important;
    top: 0;
    left: 0; 
    bottom: 0; 
    background: rgba(41, 162, 170, 0.796);
    text-align: center;
    padding-top: 9%;
    margin-right: 5%;
    overflow: auto;
}

.sidebar a {
    display: block;
    padding: 10px 20px;
    color: white;
    letter-spacing: 2px;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.sidebar a::first-letter {
    font-size: 112%;
}

.sidebar a:hover {
    font-size: 25px;
    transition: all .3s ease-in-out;
    text-decoration: none;
  }

.img-profile{ 
    max-width: 9.4rem;
    max-height: 14rem;
    /* border: .5rem solid rgba(130, 217, 218, 0.878); */
    border: .3rem solid white;
}

/* .fab {
    border: 1px solid white;
} */


/* About section styling */
#about {
    padding-top: 13%;
    padding-bottom: 150px;
}

#about h1 {
    font-family: 'Oswald', sans-serif; 
    color: rgba(72, 70, 70, 0.748);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 75px !important;
}

#about h1::first-letter {
    font-size: 120%;
}

#about h1 .last::first-letter {
    font-size: 120% !important;
}

#about span {
    display: inline-block;
    /* color: #cdd0cb; */
    color:  rgba(41, 162, 170, 0.796);
}

#about .subheading {
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    color:  rgba(41, 162, 170, 0.796);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
}

#about .subheading a {
    color: rgba(72, 70, 70, 0.748);
    text-transform: lowercase;
}

#about p {
    color: rgba(72, 70, 70, 0.748);
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 18px;
    letter-spacing: .5px;
}


/* Work History Section  */
#work-history, #education, #other {
    padding-top: 100px;
    padding-bottom: 150px;
}

#work-history h1, #education h1, #other h1 {
    font-family: 'Oswald', sans-serif; 
    color: rgba(72, 70, 70, 0.748);
    text-transform: uppercase;
    font-size: 50px !important;
}

#work-history h1::first-letter {
    font-size: 115%;
}

#work-history h1 .history-header::first-letter {
    font-size: 115% !important;
}

#work-history span {
    display: inline-block;
}

#work-history p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.resume-button {
    font-size: 17px;
}

.resume-content {
    color: rgba(72, 70, 70, 0.748);
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /* font-size: 18px; */
    letter-spacing: .5px;
}

.resume-date {
    display: inline-block !important;
    white-space: nowrap;
}

#work-history h3, #education h3{
    font-family: 'Fjalla One', sans-serif;
    color: rgb(126, 122, 122);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1.5px;
}

#work-history h4{
    font-family: 'Fjalla One', sans-serif;
    color: rgba(139, 135, 135, 0.897);
    font-weight: 500;
    /* text-transform: uppercase; */
    font-size: 20px;
}

.location, .cert {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
    /* text-transform: uppercase; */
    color: rgba(139, 135, 135, 0.897);
    font-size: 17px;
}

/* Education section */
