
/* Navbar Styling */
nav{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    min-height: 8vh; 
    background-color: rgb(21, 168, 168); 
    font-family: 'Poppins', sans-serif;
    padding: 1.5rem 2rem; 
    z-index: 3;
    top: 0;
    position: fixed;
    width: 100%;
}
a{ 
    color: rgb(230, 229, 229);
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 16px;
    font-weight: bolder;
    border: 1px solid white;
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(3, 148, 148);
}
a:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
    text-decoration: none;
    color: white;
    border: 2px solid white;
}

.logo{
    color: rgb(230, 229, 229); 
    letter-spacing: 5px;
    font-size: 20px;
}

/* main content */
.container-fluid{
    text-align: center;
    padding-top: 130px;
}
.header {
    font-family: 'Arial', sans-serif;
    color: rgb(5, 138, 138);
    letter-spacing: 4px;
    font-size: 52px !important;
    text-align: center;
    line-height: 80px;
}

img{
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Image Styling */
#licLet{
    height: 850px;
    width: 840px;
}
#cert{
    height: 680px;
    width: 800px;
}
#res1{
    padding-bottom: 4px;
}
#res2{
    padding-top: 0;
    padding-bottom: 50px;
}